<template>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Your Cart</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <cart-header />
          <cart-body />
          <cart-footer />
        </table>
      </div>
    </div>
    <div class="alert alert-success" role="alert" id="mnotification">
      Updated <b>ivysaur</b>
    </div>
  </div>
</template>

<script>
import CartBody from "./CartBody.vue";
import CartFooter from "./CartFooter.vue";
import CartHeader from "./CartHeader.vue";
export default {
  components: { CartHeader, CartBody, CartFooter },
  name: "cart-wrapper"
};
</script>

<style></style>
