<template>
  <tr>
    <th scope="row">{{ index }}</th>
    <td>{{ item.product.name }}</td>
    <td>{{ item.product.price }} USD</td>
    <td>
      <input
        v-bind:value="item.quantity"
        name="cart-item-quantity-1"
        type="number"
        min="1"
      />
    </td>
    <td>
      <strong>{{ calcTotalPrice }} USD</strong>
    </td>
    <td>
      <a class="label label-info update-cart-item" href="#" data-product=""
        >Update</a
      >
      <a class="label label-danger delete-cart-item" href="#" data-product=""
        >Delete</a
      >
    </td>
  </tr>
</template>

<script>
export default {
  name: "cart-body-item",
  props: {
    item: { type: Object, default: null },
    index: { type: Number }
  },

  computed: {
    calcTotalPrice() {
      let total = 0;
      const { product, quantity } = this.item;
      return (total += product.price * quantity);
    }
  }
};
</script>

<style></style>
