<template>
  <tbody id="my-cart-body">
    <tr v-if="items.length === 0">
      <th colspan="6">{{ NOTI_EMPTY_PRODUCT }}</th>
    </tr>
    <template v-else>
      <cart-body-item
        v-for="(item, index) in items"
        v-bind:key="item.product.id"
        v-bind:item="item"
        v-bind:index="index + 1"
      />
    </template>
  </tbody>
</template>

<script>
import { mapState } from "vuex";
import { NOTI_EMPTY_PRODUCT } from "../constants/config";
import CartBodyItem from "./CartBodyItem.vue";
export default {
  components: { CartBodyItem },
  data() {
    return {
      NOTI_EMPTY_PRODUCT
    };
  },
  computed: {
    ...mapState({
      items: state => state.cart.listCarts
    })
  },
  name: "cart-body"
};
</script>

<style></style>
