<template>
  <div class="page-header">
    <h1>Project 02 - Shopping Cart <small>VueJS + VueX</small></h1>
  </div>
</template>

<script>
export default {
  name: "component-title"
};
</script>

<style></style>
