<template>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">List Products</h1>
      </div>
      <div class="panel-body" id="list-product">
        <product-item
          v-for="product in products"
          v-bind:key="product.id"
          v-bind:product="product"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ProductItem from "./ProductItem.vue";
import { mapState } from "vuex";
export default {
  components: { ProductItem },
  computed: {
    ...mapState({
      products: state => state.product.productList
    })
  },
  name: "product-list"
};
</script>

<style></style>
