<template>
  <div class="media product">
    <div class="media-left">
      <a href="#">
        <img class="media-object" alt="charmander" v-bind:src="definePicture" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ product.name }}</h4>
      <p>
        {{ product.summary }}
      </p>

      <template v-if="product.canBuy">
        <input
          v-model="quantity"
          name="quantity-product-1"
          type="number"
          value="1"
          min="1"
        />
        <a
          @click.prevent="handleBuyProduct"
          data-product="1"
          href="#"
          class="price"
        >
          {{ product.price }} USD
        </a>
      </template>

      <a
        v-else
        data-product="1"
        href="#"
        class="price"
        style="backgroundColor:gray; cursor: no-drop;"
      >
        {{ product.price }} USD
      </a>
    </div>
  </div>
</template>

<script>
import { validateQuantity } from "../helpers";
import { NOTI_GREATER_THAN_ONE } from "../constants/config";
import { mapActions } from "vuex";
export default {
  name: "product-item",
  data() {
    return {
      quantity: 1
    };
  },
  computed: {
    definePicture() {
      return `../../dist/images/${this.product.image}`;
    }
  },
  props: {
    product: {
      type: Object,
      default: null
    }
  },

  methods: {
    ...mapActions({ buyProduct: "buyProduct" }),

    handleBuyProduct() {
      const check = validateQuantity(Number(this.quantity));
      if (check) {
        const data = {
          product: this.product,
          quantity: Number(this.quantity)
        };

        // this.$store.dispatch("actBuyProduct", data);
        this.buyProduct(data);
      } else {
        this.$notify(NOTI_GREATER_THAN_ONE);
      }
    }
  }
};
</script>

<style></style>
