<template>
  <div id="app">
    <div class="container">
      <component-title />
      <div class="row">
        <!-- PRODUCT LIST -->
        <product-list />

        <!-- CART WRAPPER -->
        <cart-wrapper />
      </div>
      <notifications
        group="notification"
        position="top right"
        v-bind:duration="1000"
      />
    </div>
  </div>
</template>

<script>
import CartWrapper from "./components/CartWrapper.vue";
import ComponentTitle from "./components/ComponentTitle.vue";
import ProductList from "./components/ProductList.vue";
export default {
  name: "app",
  components: { ComponentTitle, ProductList, CartWrapper },
  data() {
    return {};
  }
};
</script>

<style>
.notifications {
  padding-right: 10px;
  padding-bottom: 10px;
}
</style>
